<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher,ImpliedTouchscreenHardware,MissingLeanbackSupport">

    <application>
        <activity
            android:name="com.omnidroid.ext.feature.savesync.ActivateGoogleDriveActivity"
            android:theme="@style/InvisibleTheme"/>

        <activity
            android:name="com.omnidroid.ext.feature.savesync.ActivateDropboxActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/InvisibleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth-dropbox"
                    android:scheme="com.omnidroid" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.omnidroid.ext.feature.savesync.ActivateOneDriveActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/InvisibleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth-onedrive"
                    android:scheme="com.omnidroid" />
            </intent-filter>
        </activity>
    </application>
</manifest>
